*.png filter=lfs diff=lfs merge=lfs -text
frontend/icon-192.png filter=lfs diff=lfs merge=lfs -text
frontend/icon-pro.png filter=lfs diff=lfs merge=lfs -text
frontend/icon-flash.png filter=lfs diff=lfs merge=lfs -text
frontend/favicon.png filter=lfs diff=lfs merge=lfs -text
